<header class="header white-bg">

    <div class="sidebar-toggle-box">
        <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
    </div>
    <!--logo start-->
    <a href="#" class="logo"><span>你心我塑蛋糕烘焙</span> ---- 商家管理后台</a>
</header>